<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Mon formulaire perso de sécurité</title>
</head>
<body>
<h1>Page de connexion</h1>

<div th:if="${param.error}">
    Les identifiants sont incorrects !
</div>

<div th:if="${param.logout}">
    Vous êtes déconnecté !
</div>

<form method="post" th:action="@{/login}">

    <div>
        <label>Nom d'utilisateur</label>
        <input type="text" name="username">
    </div>

    <div>
        <label>Mot de passe</label>
        <input type="password" name="password">
    </div>

    <input type="submit" value="Valider !">

</form>

<a th:href="@{/register}">Créer un compte</a>
</body>
</html>