<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Enregistrer un utilisateur !</title>
</head>
<body>
<h1>Créer un compte</h1>

<form th:object="${user}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <li th:each="err: ${#fields.allErrors()}" th:text="${err}">
            </li>
        </ul>
    </div>

    <div th:if="${userExist}">
        Impossible ! Ce nom d'utilisateur est déjà existe déjà !
    </div>

    <div>
        <label for="username">
            Username
        </label>
        <input id="username" type="text" th:field="*{username}" th:value="*{username}"/>
    </div>

    <div>
        <label for="firstname">
            Prénom
        </label>
        <input id="firstname" type="text" th:field="*{firstname}" th:value="*{firstname}"/>
    </div>

    <div>
        <label for="lastname">
            Nom
        </label>
        <input id="lastname" type="text" th:field="*{lastname}" th:value="*{lastname}"/>
    </div>

    <div>
        <label for="password">
            Mot de passe
        </label>
        <input id="password" type="password" th:field="*{password}" th:value="*{password}"/>
    </div>

    <div>
        <label for="confirm">
            Confirmation
        </label>
        <input id="confirm" type="password" th:field="*{confirmPassword}" th:value="*{confirmPassword}"/>
    </div>

    <button type="submit">Valider !</button>
</form>
</body>
</html>