<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <title>Welcome !</title>
</head>
<body>
<h1>Bienvenue sur mon application !</h1>

<h2 th:text="'Ton username est ' + ${#authentication.getPrincipal().username}"></h2>

<div th:text="${#authentication.getPrincipal()}"></div>

<h2>Me déconnecter avec une méthode GET</h2>

<a th:href="@{/logout}">Me déco !!</a>

<a sec:authorize="hasAuthority('admin')" th:href="@{/admin}">Acces admin</a>

<h2>Me déconnecter avec une méthode POST</h2>

<form th:action="@{/logout-processing}" method="post">
    <button type="submit">Me déconnecter !!</button>
</form>

</body>
</html>